@import "reset";
@import "_utils";
@import "mixin";

/* Mobile */
:root {
	--grid-tile-border-radius: 17px;
	--grid-gutter: 10px;
	--grid-auto-rows: 385px;
}
html{
	font-size: 8px;
}
nav.global-nav {
	/* 토글 active시 */
	&.active {
		position: fixed;
		height: 100%;			
		background-color: map-get($color, bgc-mobile-global-nav);
		.nav__links ul {
			flex-direction: column;
			align-items: flex-start;
			position: relative;
			li {
				&.mobile-icon.menu {
					position: absolute;
					top: 24px;
					margin-top: -18.5px;
					left: 0;
				}
				&.mobile-icon.home {
					position: absolute;
					top: 24px;
					margin-top: -18.5px;
					left: 50%;
					transform: translate3d(-50%,0,0);
				}
				&.mobile-icon.search, &.mobile-icon.cart {
					display: none;
				}
			}
			.global-nav__links__menu__tray {
				border-top: 1px solid #ddd;
				width: 100%;
				display: block;
				position: absolute;
				top: 100px;
				left: 0;
				bottom: 0;
				order: 1;
				padding: 0 30px;
				li {
					width: 100%;
					&:first-child {
						margin-top: 10px;
					}
					&:not(:nth-child(10)){
						@include common-border-bottom;
					}
				}
			}
		}
		.mobile-search {
			display: block;
		}
	}
	/* 토글 inactive */
	.nav__links {
		ul {
			.global-nav__links__menu__tray {
				display: none;
			}
			li {
				&.mobile-icon.menu {
					display: block;
				}
			}
		}
	}
	.mobile-search {
		display: none;
		position: absolute;
		top: 48px;
		left: 0;
		width: 100%;
		padding: 0 10px;
		.mobile-search__input {
			background-color: #1d1d1f;
			color: #6e6e73;
			padding: 8px 10px;
			border-radius: 15px;
			position: relative;
			.mobile-search__input__icon {
				position: absolute;
				top: 50%;
				left: 0;
				transform: translate3d(0, -50%, 0);
				margin-left: 10px;
			}
			.mobile-search__input__placeholder {
				margin-left: 20px;
			}
		}
	}
}


nav.local-nav {
	/* 토글 active시 */
	&.active {
		height: auto;
	}
	.nav__links {
		flex-direction: column;
		align-items: flex-start;
		.local-nav__links__title{
			margin: 15px 0px 0px 15px;
		}
		.local-nav__links__menu{
			width: 100%;
			.local-nav__links__menu__tray {
				width: 100%;
				padding: 25px 0;
				margin: 0;
				display: none;
				&.active {
					display: block;
				}
				ul {
					flex-direction: column;
					align-items: stretch;
					padding: 0 25px;
					li {
						padding: 5px 0;
					}
					li:not(:last-child) {
						@include common-border-bottom;
					}
				}
			}
			.local-nav__links__menu__actions {
				position: absolute;
				top: 15px;
				right: 15px;
				a.local-nav__toggle {
					display: block;	
				}
			}
		}
	}
}
/* main */

/* SPEED */
.section-content {
	margin: 0 auto;
	width: 87.5% !important;
}
/* swiper-pagination-bullet */
.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
	width: 36px;
	height: 36px;
}
/* FEATURES */
:root {
	--grid-tile-border-radius: 12px;
}
section#features .grid-container {
	padding: 50px var(--grid-gutter) 80px;
	max-width: 434px;
	.grid-item {
		grid-column: span 6;
	}
} 
section#features .feature-headline {
	font-size: 28px;
}
section#features .grid-container .two_sizes .grid-item-inner .media-wrapper {
	width: 416px;
	height: 320px;
}
section#features .grid-container .design_endframe .grid-item-inner .media-wrapper {
	width: 416px;
	height: 392px;
}
/* COMPARE */
main section#compare {
	padding-top: 76px;
	padding-bottom: 26px;
}
.section-callouts .section-callout {
	flex-basis: 100%;
	max-width: 100%;
	margin-bottom: 54px;
	&:nth-child(2n) {
		margin-left: 0;
	}
}
h4.compare-subHeadline {
	margin-top: 30px;
	margin-bottom: 22px;
}
/* WHICH */
main section#which {
	padding-top: 76px;
	padding-bottom: 74px;
}
.which-content .which-grid-container {
	column-gap: 10px;
	
}
.device-image {
	min-height: 165px;
	margin-bottom: 40px;
}
.which-cta {
	flex-direction: column;
	align-items: center;
}
main section#reason {
	padding-top: 79px;
}
/* BUY */
section#buy .buy-inner {
	padding-top: 85px;
	padding-bottom: 75px;
	flex-direction: column;
	align-items: center;
	gap: 48px;	
}
/* DELIVERY */
.free, .finance {
	flex-basis: 100%;
}
/* FOOTER */
.link-items {
	flex-direction: column;
	.link-item {
		flex-basis: auto;
		&:nth-of-type(1) {
			border-top: 1px solid map-get($color, footer-border);
		}
		border-bottom: 1px solid map-get($color, footer-border);
		.link-item-section:first-child {
			border-bottom: 1px solid map-get($color, footer-border);
		}
		.link-item-title {
			color: map-get($color, font-footer-normal);
			&:hover {
				color: inherit;
			}
			cursor: pointer;
			position: relative;
			padding: 10px 0;
			margin-bottom: 0;
			&::after {
				content: '+';
				font-size: 20px;
				position: absolute;
				right: 8px;
				top: 50%;
				transform: translateY(-50%);
				transition: transform .3s ease, -webkit-transform .3s ease;
			}
			&.active::after {
				transform: translateY(-50%) rotate(45deg) scale(1.2);
			}
		}
		.link-item-content {
			z-index: -1;
			visibility: hidden;
			height: 0;
			transition: all .25s linear;
			opacity: 0;
			&.active {
				padding: 20px 0 20px 20px;
				z-index: 1;
				opacity: 1;
				visibility: visible;
				height: auto;
			}
		}
		.link-item-section + .link-item-section {
			margin-top: 0;
		}
	}
}
