@import "reset";
@import "_utils";
@import "mixin";

// Tablet
:root {
	--grid-tile-border-radius: 17px;
	--grid-gutter: 10px;
	--grid-auto-rows: 385px;
}
/* section #speed */
.section-content {
	margin: 0 auto;
	width: 692px;
}
/* FEATURES */
.grid-container {
	padding: 52px var(--grid-gutter) 89px;
	max-width: 744px;
	.two_sizes {
		.grid-item-inner {
			margin-right: unset;
			flex-direction: row;
		}	
	} 
}
.feature-headline {
	font-size: 32px;
}
.button--modal {
	bottom: 10px;
	right: 10px;
}
.grid-container .two_sizes .grid-item-inner .media-wrapper {
	width: 488px;
	height: 328px;
	left: auto;
}
.grid-container .design_endframe .grid-item-inner .media-wrapper {
	width: 608px;
	height: 360px;
}
.grid-container .oled_display .grid-item-inner .media-wrapper {
	height: auto;
}
/* COMPARE */
section#compare {
	padding-top: 82px;
	padding-bottom: 12px;
}
.compare-headline {
	margin-bottom: 52px;
}
.section-callout {
	flex-basis: 41.66667%;
	max-width: 41.66667%;
	&:nth-child(2n) {
		margin-left: 16.66667%;
	}
}
.compare-subHeadline {
	margin-top: 30px;
	margin-bottom: 22px;
}
/* WHICH */
section#which {
	padding-top: 84px;
	padding-bottom: 84px;
}
.which-content {
	margin-top: 52px;
}
.which-grid-container {
	max-width: 500px;
	column-gap: 78px;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(16, auto);
	grid-template-areas:
			"iphone_13_pro-device iphone_13-device"
			"iphone_13_pro-display iphone_13-display"
			"iphone_13_pro-camera iphone_13-camera"
			"iphone_13_pro-chip iphone_13-chip"
			"iphone_13_pro-cellular iphone_13-cellular"
			"iphone_13_pro-battery iphone_13-battery"
			"iphone_13_pro-authentication iphone_13-authentication"
			"iphone_se-device iphone_12-device"
			"iphone_se-display iphone_12-display"
			"iphone_se-camera iphone_12-camera"
			"iphone_se-chip iphone_12-chip"
			"iphone_se-cellular iphone_12-cellular"
			"iphone_se-battery iphone_12-battery"
			"iphone_se-authentication iphone_12-authentication";
}
.which-cta {
	margin-top: 18px;
	font-size: 19px;
}
/* REASON */
section#reason {
	padding-top: 92px;
}
/* BUY */
.buy-inner {
	padding-top: 112px;
	padding-bottom: 90px;
}
/* DELIVERY */
.help {
	flex-basis: 100%;
}
